:root{
    --primary-text-color:#757575;
    --secondary-text-color: red;
    --titel-text-color:#212121 ;
    --link-text-color:#2196F3;
}
body{
font-family: 'Roboto',
        sans-serif;
        color: #757575;;
}
.list{
    list-style: none;
}
.heder-logo{
    color:#2196F3;
}
/* .header-link{
    color: black;
} */
/* .nav-link,
 .singularity-title,
.about-title,
.names-titel
{
    color:#212121;
} */
.header-link,
.nav-link,
.section .section-title{
    color: var(--titel-text-color);
}
/* .section 
.section-title{
    color: var(--titel-text-color);
} */
.nav-link:hover,
.nav-link:focus
{
    color: var(--link-text-color);
}
.header-adress a{
    color: var(--primary-text-color);
}
.header-adress a:hover,
.header-adress a:focus{
    color:var(--link-text-color);
}